.logo {
    max-width: 250px;
    display: block;
    margin: auto;
    padding: 30px 0;
}

.main-nav {
    
    ul {
        list-style: none;
        display: flex;
        align-content: center;
        justify-content: center;
    }     

    li {
        padding: 1rem;
    }

    a {
        text-decoration: none;
        color: #333;
    }

    a:hover {
        color: $pink;
    }

    li:hover,
    li:focus-within {   
	cursor: pointer;
    }

    li:focus-within a {
     outline: none;
    }   

    ul li ul {
        background: #333;
        visibility: hidden;
        min-width: 5rem;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 1rem;
        display: none;
        z-index: 2;
        padding-left: 0;
    }
    ul li ul a {
        color: #fff;
    }
   
    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
    }
    
    ul li ul li {
        clear: both;
        width: 100%;
      }
}

.main-nav::before {
    display: block;
    content: '';
    width: 80%;
    height: 2px;
    background: $pink;
    margin: 0 auto;
    opacity: 0.7;
  }

.main-nav::after {
  display: block;
  content: '';
  width: 80%;
  height: 2px;
  background: $pink;
  margin: 0 auto;
  opacity: 0.7;
}

.mobile-menu {
    display: none;
}

// Responsiv nav 

@media (max-width: 800px) {
  
    header {

        .mobile-menu {
            color: #333;
            display: block;
            max-width: 40px;
            position: fixed;
            top: 50px;
            right: 50px;
            z-index: 11;
        }

        .logo {
            margin: 0;
            padding-left: 50px;
        }

        nav {
            ul {
                flex-direction: column;
                background: $pink;
                font-size: 1.2em;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                margin-top: 0;
                width: 100vw;
                opacity: 0;
                transform: translateX(-800px);
                transition: all 250ms ease-in-out;

                li {
                    width: 50%;
                }

                .dropdown {
                    width: 30vw;
                    font-size: 1em;
                    margin-left: 30vw;
                    margin-top: 0;
                }
            }

        }

        .main-nav::before, .main-nav::after {
            display: none;
        }

    }

    .menu.open {
        transform: translateX(0);
        opacity: 1;
        position: fixed;
      }
  }