.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: auto;
    max-width: 1200px;
    
    div {
        position: relative;
        overflow: hidden;
    }

    img {
        width: 100%;
        object-fit: cover;
        height: 300px;
        transform: scale(1);
        transition: .4s ease-in-out;
    }

    img:hover {
        transform: scale(1.1);
    }

    .image-figcaption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(255, 255, 255, 0.95);
        padding: 1.4em 0;
        text-align: center;
        z-index: 1;
        color: #333;
        width: 80%;
        font-size: 1.1em;
}

.image-figcaption:hover {
        color: $violet;
}

}

@media (max-width: 800px) {
    .image-grid {
        grid-template-columns: 1fr;
        width: 80vw;
    }
}
