@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400");

// Fonts
$primary-font: "Dogma Script";

// Colors
$violet: #303257;
$pink: #f2e6e4;

.center {
  display: flex;
  margin: auto;
}

.text-end {
  text-align: end;
}

.inline-text {
  display: inline-block;
}

@media (max-width: 800px) {
  .center {
    width: 100%;
  }

  .text-end {
    margin-right: 15px;
  }
}
